// font-size
$cd-fontSize: (
	h1:		2.5rem,
	h2:		2rem,
	h3:		1.75rem,
	h4:		1.5rem,
	h5:		1.25rem,
	h6:		1rem,
	s10:	10px,
	s11:	11px,
	s12:	12px,
	s13:	13px,
	s14:	14px,
	s15:    15px,
	s16:    16px,
	s17:    17px,
	s18:    18px,
	s19:    19px,
	s20:    20px,
	s21:    21px,
	s22:    22px,
	s23:    23px,
	s24:    24px,
	se1:    1rem,
	se2:    2rem,
	se3:    3rem,
	se4:    4rem,
	se5:    5rem,
	se6:    6rem
);
