.cd-square {
	background-color: cd-palette($cd-background, 2001);
	border: 1px solid cd-palette($cd-border, 3003);
	box-shadow: 1px 1px 1px cd-palette($cd-shadow, 4022);
	float: left;
	font-size: cd-fontSize(s24, $cd-fontSize);
	font-weight: bold;
	height: 50px;
	padding: 0;
	text-align: center;
	width: 50px;

	&:focus {
		outline: none;
	}
}
