.cd-game-wrapper {
	margin: 25px auto 0;
	width: 180px;

	.cd-board {
		h2 {
			border-bottom: 1px solid cd-palette($cd-border, 3004);
			font-size: cd-fontSize(s25, $cd-fontSize);
			margin-bottom: 10px;
			padding-bottom: 5px;
			text-align: center;
		}

		.cd-status {
			margin-bottom: 5px;
			text-align: center;

			span {
				font-weight: cd-fontWeight(600);

				&.sc-turn-x {
					color: cd-palette($cd-color, 1010);
				}

				&.sc-turn-0 {
					color: cd-palette($cd-color, 1016);
				}
			}
		}
	}

	.cd-options {
		position: relative;
		text-align: center;

		.cd-moves {
			list-style: none;
			margin: 15px 0;
			padding: 0;
			text-align: left;

			li {
				display: inline-block;
				margin-bottom: 5px;
				margin-right: 5px;
				width: 56px;

				&:nth-child(3n) {
					margin-right: 0;
				}

				button {
					background-color: cd-palette($cd-background, 2001);
					border: 1px solid cd-palette($cd-border, 3001);
					box-shadow: 1px 1px 1px cd-palette($cd-shadow, 4004);
					color: cd-palette($cd-color, 1000);
					cursor: pointer;
					outline: 0;
					padding: 5px;
					text-decoration: none;
					width: 100%;

					&:hover {
						background-color: cd-palette($cd-background, 2004);
					}
				}
			}
		}

		.cd-play-again {
			margin-top: -5px;
			text-align: center;

			button {
				background-color: cd-palette($cd-background, 2010);
				border: 1px solid cd-palette($cd-border, 3019);
				box-shadow: 1px 1px 1px cd-palette($cd-shadow, 4019);
				color: cd-palette($cd-color, 1001);
				cursor: pointer;
				padding: 4px 10px;

				&:hover {
					opacity: .9;
				}
			}
		}
	}
}
